* {
  box-sizing: border-box;
  color: rgb(110, 5, 5);
}

body {
  padding: 60px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.176), rgba(86, 86, 86, 0.763)), url(../images/restaurant.jpg);
  background-size: cover;
  background-attachment: fixed;
}


.logo {
  width: 70px;
  opacity: 50%;
  list-style: none;
}

nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 3px;
  background: linear-gradient(0deg, rgb(0,0,0), rgb(150,150,150));
  opacity: 80%;
  z-index: 1;
}

nav a {
  height: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  padding: 0;
  font-weight: bold;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}


nav a:hover {
  background: linear-gradient(0deg, rgb(110, 110, 110), rgb(255, 255, 255));
  color: rgb(255, 255, 255);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login img {
  height: 30px;
}

h1, p {
  text-align: center;
  margin-top: 3rem;
  color: white;
}

h2 {
  text-align: center;
  margin-top: 1rem;
  color: rgb(110, 5, 5);
  font-size: 2rem;
}

.container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-content: center;
  border: 1px solid rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(138, 138, 138, 0.545), rgba(255, 255, 255, 0.552));
  line-height: 2rem;
  transform: translate(50%);
}

.share-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.share-click {
  font-size: 1.75rem;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}

.share-click:hover {
  color: green;
}

.box {
  display: inline;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  margin-bottom: 2.5rem;
  background: linear-gradient(0deg, rgba(120, 120, 120, 0.545), rgba(255, 255, 255, 0.552));
  box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.35);
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 2.5rem;
}

.text-input {
  width: 16.5rem;
}

.text-input2 {
  width: 19.3rem;
}

.restaurant-name {
  font-size: 25px;
  transform: translate(0, -95%);
}

.review {
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(167, 167, 167, 0.545), rgba(214, 214, 214, 0.652));
}

.user-name {
  font-size: 1.5rem;
  color: rgb(69, 40, 2);
  display: flex; 
  justify-content: center;

}

.user-avatar {
  border: 2px solid rgb(0, 255, 0);
  border-radius: 50%;
  width: 8rem;
}

.res-image {
  width: 50rem;
  height: 32rem;
  border: 2px solid rgb(134, 3, 3);
  margin-bottom: 1rem;
}

.res-image-preview {
  width: 30rem;
  height: 20rem;
  border: 2px solid rgb(134, 3, 3);
  transform: translate(0%, -8%);
  z-index: 0;
  transition: 300ms;
}

.res-image-preview:hover {
  border: 3px solid white;
  transition: 300ms;
} 

.location {
  float: right;
  margin-right: 1.25rem;
  color: rgb(137, 99, 0);
}

.rating {
  font-size: 1.5rem;
  float: left;
  transform: translate(20%, -10%);
}

.rating-show {
  font-size: 1.5rem;

}

.details:hover {
  color: white;
}

.nav-avatar {
  width: 3.5rem;
  border: 1px solid rgb(0, 76, 255);
  border-radius: 50%;
  margin: 5px;
}

.comment-section {
  border: 3px solid rgb(58, 58, 58);
  background-color: rgba(0, 0, 0, 0.517);
  display: grid;
  justify-items: center;
  color: rgb(212, 156, 156);
  font-size: 1.5rem;
}

.comment-avatar {
  width: 30px;
  border: 1px solid rgb(0, 255, 42);
  border-radius: 50%;
}

.comment-text {
  padding-left: .5rem;
  color:rgb(255, 255, 255);
  font-size: 15px;
}

.chat-box {
  display: flex;
  flex-direction: column;
}

.chat-date {
  font-size: 10px;
  font-style: italic;
  color: rgb(98, 130, 150);
  display: inline-flex;
  transform: translate(0%, -130%);
}

.chat-name {
  color: rgb(255, 170, 59);
  font-size: 15px;
}

h5 {
  color: rgb(142, 0, 142);
}

.chat-btn {
  border: none;
  font-size: 1.3rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: .5rem;
  display: flex;
}

.chat-btn:hover {
  color: rgb(0, 255, 0);
}

.chat-inp {
  height: 45%;
  max-height: 80%;
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  padding: none;
  resize: none;
  font-size: 2rem;
}

.chat-log-in {
  text-decoration: none;
  color: rgb(154, 0, 95);
  margin-bottom: 1rem;
}

.chat-log-in:hover {
  color: rgb(214, 125, 180);
}

.table {
  height: 3.2rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
  border: 1px solid white;
  width: 50%;
  margin-bottom: 2rem;
  transform: translate(50%);
  background: linear-gradient(0deg, rgba(138, 138, 138, 0.545), rgba(255, 255, 255, 0.552));
}

.profile-avatar {
  border: 1px solid rgb(0, 255, 0);
  border-radius: 50%;
}

.white-text {
  color: white;
}

.post-container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(167, 167, 167, 0.545), rgba(214, 214, 214, 0.652));
}

.post-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  grid-gap: 1rem 3rem;

}

.res-image-profile {
  width: 21rem;
  height: 14rem;
  border: 2px solid rgb(134, 3, 3);
  transform: translate(0%, -6%);
  z-index: 0;
  transition: 400ms;
}

.res-image-profile:hover {
  transform: scale(1.2);
  transition: 500ms;
  border: 2px solid greenyellow;
}

@keyframes shake {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

.res-link {
  text-decoration: none;
}

.res-title {
  text-align: center;
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

h4 {
  font-family: 'Laila', sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 0 1.5rem 0;
  font-weight: 100;
  font-size: 1.25rem;
}

.main-title {
  font-family: 'Italianno', cursive;
  color: rgb(72, 179, 72);
  font-size: 6rem;
  margin: 0 auto;
}

.delete-btn {
  float: left;
  transform: translate(0%, -3%);
  cursor: pointer;
}

.delete-btn:hover {
  animation: shake 500ms infinite;
}

.edit-btn {
  text-decoration: none;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(128, 128, 128);
  border-radius: 2px;
  padding: 1px 6px;
  font-size: 13px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 1.3rem;
  transform: translate(1%, -2%);
}

.edit-btn:hover {
  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(80, 80, 80);
  animation: shake 500ms infinite;
}

.timestamps {
  color: rgb(39, 39, 39);
}

.comments {
  float: right;
  transform: translate(-20%, -95%);
  color: white;
}